@charset 'utf-8';
.nav .box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #ccc;
  width: 1200px;
  height: 300px;
}
